.upload-btn {
  display: inline-block;
  width: 150px;
  cursor: pointer;
}

.add-btn,
.remove-btn {
  background: none;
  border: none;
}

.input-style {
  border-radius: 0;
}

/* Hide arrow marks (spinner) in Chrome, Safari, Edge, and Opera */
.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide arrow marks (spinner) in Firefox */
.no-spinner {
  -moz-appearance: textfield;
}
