p {
  color: red;
  font-size: small;
  padding-left: 2px;
  padding-top: 2px;
}
.upload-btn {
  display: inline-block;
  width: 150px;
  cursor: pointer;
}

.add-btn,
.remove-btn {
  background: none;
  border: none;
}

.input-style {
  border-radius: 0;
}

.upload-label {
  cursor: pointer;
}

.rmv-btn {
  cursor: pointer;
  top: 0;
  right: 0;
  font-size: large;
  color: red;
}

.asterik {
  color: red;
  font-size: 1.2rem;
}
