.cart-wrapper {
  /* border: 1px solid rgba(210, 210, 210, 0.6); */

  overflow: auto;
  scroll-behavior: smooth;
  padding-top: 10;
  max-height: 90vh;
  scrollbar-width: none;
  position: relative;
  left: 10px;
}

.checkout-container {
  border: 1px solid rgba(210, 210, 210, 0.6);
  background-color: white;
  position: sticky;
  bottom: 0;
  @media (max-width: 1025px) {
    /* display: none; */
  }
}

@media (min-width: 1025px) {
  .price-container {
    position: fixed;
    left: 65%;
    top: 91px;
    .checkout-container {
      /* display: none; */
    }
  }
}
