.login-wrapper {
  width: 50%;
  height: 100%;

  @media (max-width: 769px) {
    margin-left: 0;
    margin-right: 0;
    width: 100vw;
    height: 100%;
  }
}
.login-form-container {
  background-color: rgba(239, 240, 234, 0.973);
  height: 100%;
  /* color: red; */
  padding: 20px 10px 0 10px;
  border: 1px solid rgba(221, 223, 214, 0.809);
  font-weight: 600;
  @media (max-width: 426px) {
    width: 100% !important;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
