.arrow-direction {
  width: "4%";
  display: flex;
  /* justify-content: space-evenly; */
  gap: 0px;
  align-items: center;
  @media (max-width: 769px) {
    display: none;
  }
}

.arrow-btn {
  padding: 0;
  border: none;
  background: none;
}
