.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  
}
.logo {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.nav-app-bar {
  background-color: #ff0000 !important;
  padding: 10px 50px;
}
@media (max-width: 426px) {
  .nav-app-bar {
    padding: 10px 0;
  }
  .logo {
    justify-content: center;
  }
}

@media (min-width: 320px) and (max-width: 426px) {
  .nav-container {
    img {
      width: 140px;
      margin: 0;
      /* padding: 0; */
    }
  }
}

@media (max-width: 425px) {
  .nav-icon {
    padding: 5px !important;
  }
}
