.App {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  gap: calc(auto);
}

.main-content {
  width: 100%;
  flex-grow: 1;
  height: calc(auto);
}

.footer {
  margin-top: calc(auto);
}
