.App {
  width: 100%;
  /* overflow-x: hidden !important; */
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  padding: 0 !important;

  /* gap: calc(auto); */
}

.main-content {
  flex: 1;

  min-height: 60vh;

  padding: 0 !important;
  background-color: rgb(241, 243, 246);
  scrollbar-width: none;
}

.footer {
  width: 100% !important;
  margin-top: calc(auto);
  z-index: 1;
  background-color: WHITE;
}

.sticky-footer {
  position: sticky;
  bottom: 0;
}
